.body__footer {
    height: 147px;
    border-top: 1px solid #D9FFF5;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    font-family: $font-medium;
    font-size: 14px;
    line-height: 16px;
    color: $focus-color;
    text-align: center;
    span {
        &:first-child {
            width: 218px;
            height: 32px;            
            margin-left: 51px;
            margin-top: 16px;
        }
        &:nth-child(2) {
            width: 214px;
            height: 16px;
            margin-left: 53px;
            margin-top: 16px;
        }
        &:last-child {
            width: 312px;
            height: 32px;
            margin-left: 4px;
            margin-top: 16px;
        }
    }
    @media (min-width: $tableWidth) {
        height: 105px;
        flex-direction: row;
        text-align: left;
        span {
            &:first-child {
                margin-left: 24px;
                margin-top: 32px;
            }
            &:nth-child(2) {                
                margin-left: 35px;
                margin-top: 32px;
            }
            &:last-child {
                width: 213px;
                height: 38px;
                text-align: right;
                margin-left: 40px;
                margin-top: 32px;
            }
        }
    }
    @media (min-width: $desktopWidth) {
        height: 85px;                        
        span {
            &:first-child {
                margin-left: 31px;                
            }
            &:nth-child(2) {                
                margin-left: 145px;                
            }
            &:last-child {
                width: 330px;
                height: 32px;                
                margin-left: 149px;                
            }
        }
    }
    @media (min-width: $minDesktopWidth) {
        width: $desktopWidth;

    }
}
