$font-regular: 'TTLakes-Regular', sans-serif;
$font-medium: 'TTLakes-Medium', sans-serif;
$font-bold: 'TTLakes-Bold', sans-serif;

$smPhoneWidth: 320px;
$resizeSwipe: 321px;
$submitSize: 530px;
$tableWidth: 768px;
$desktopWidth: 1120px;
$minDesktopWidth: 1366px;
$mainWidth: 1440px;

$default-color: #ffffff;
$primary-color: #F8F8F8;
$success-color: #1B1C21;
$focus-color: #7E7E82;
$border-color: #EAEAEA;
$form-color: #B5B6BC;
$button-color: #FF3E79;
$pagination-color: #DDDDDD;
$line-color: #D9FFF5;